<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.bishe.dao.GenRenXinXiDao">
    <update id="xiu" parameterType="com.hp.bishe.bean.Student">
        update student set username=#{username},sex=#{sex},clazzId=#{clazzId},
        sushe=#{sushe},bed=#{bed},remark=#{remark} where sn=#{sn}
    </update>

    <select id="findBySn" parameterType="String" resultType="com.hp.bishe.bean.Student">
        select password from student where sn=#{sn}
    </select>

    <update id="upPassword" parameterType="com.hp.bishe.vo.PasswordVo">
        update student set password=#{newPassword2} where sn=#{sn}
    </update>

    <update id="upPic" parameterType="com.hp.bishe.bean.Student">
        update student set photo=#{photo} where sn=#{sn}
    </update>
</mapper>