* {
    margin: 0;
    padding: 0;
}

.mequeqin {
    width: 968px;
    height: 511px;
    float: left;
    background-color: white;
    border-collapse: collapse;
    position: relative;
    top: 37px;
    left: 152px;
}

.mequeqin-top {
    width: 968px;
    height: 45px;
    border-bottom: 1px solid #b2bec3;
    border-collapse: collapse;
}

.mequeqin-top h3 {
    color: #4d4d4d;
    position: relative;
    left: 20px;
}

.mequeqin-data {
    width: 968px;
    height: 45px;
    border-bottom: 1px solid #b2bec3;
    border-collapse: collapse;
}

.mequeqin-main table {
    font-family: cursive;
    font-size: larger;
    color: #4d4d4d;
    border-collapse: collapse;
    border: 1px solid #b2bec3;
    position: relative;
    top: -1px;
    left: 0px;
}

.mequeqin-main th {
    text-align: center;
    width: 192.8px;
    height: 35px;
}

.mequeqin-main td {
    width: 192.8px;
    height: 30px;
    font-size: initial;
    font-family: monospace;
    text-align: initial;
    padding: 5px;
}

.mequeqin-data form {
    font-family: serif;
    font-weight: bolder;
    position: relative;
    top: 11px;
    left: 416px;
}